# Application
ASPNETCORE_ENVIRONMENT=Development
API_PORT=8080

# SQL Server
SA_PASSWORD=W0rksh0p@Fiap2026!

# Connection String (uses service name 'sqlserver' as host inside docker-compose)
ConnectionStrings__DefaultConnection=Server=sqlserver,1433;Database=Fiap_Workshop;User Id=sa;Password=W0rksh0p@Fiap2026!;TrustServerCertificate=True;

# JWT
Jwt__SecretKey=CHANGE_THIS_SECRET_KEY_MIN_32_CHARS_IN_PRODUCTION!
Jwt__Issuer=Fiap.Workshop
Jwt__Audience=Fiap.Workshop
Jwt__ExpirationInMinutes=60
